.toggle-button {
	display: inline-block;
	background: none;
	border: none;
	cursor: pointer;

	&[aria-expanded='false'] &__icon-close {
		display: none;
	}

	&[aria-expanded='true'] &__icon-open {
		display: none;
	}

	&[aria-expanded='true'] &__icon-close {
		display: block;
	}
}
