@use '../abstracts/variables';
@use '../abstracts/mixins';

:root {
	// colors
	@each $color, $shades in variables.$colors {
		@each $shade, $value in $shades {
			--clr-#{$color}-#{$shade}: #{$value};
		}
	}

	// font families
	--ff-primary: 'Karla', sans-serif;
	--ff-accent: 'DM Serif Display', serif;

	// font weights
	@each $font-weight, $value in variables.$font-weights {
		--fw-#{$font-weight}: #{$value};
	}

	// font sizes
	@each $screen, $sizes in variables.$font-sizes {
		@if $screen == small {
			@each $size, $value in $sizes {
				--fz-#{$size}: #{$value};
			}
		} @else {
			@include mixins.mq($screen) {
				@each $size, $value in $sizes {
					--fz-#{$size}: #{$value};
				}
			}
		}
	}

	// spacers
	@each $unit, $sizes in variables.$spacers {
		@each $size, $value in $sizes {
			--spacer-#{$unit}-#{$size}: #{$value};
		}
	}

	--container-padding-inline: clamp(var(--spacer-rem-200, 1em), 5vw, var(--spacer-rem-900, 4em));
	--section-heading-margin: var(--spacer-em-500);
	--section-block-spacer: 14rem;
	--cta-padding-inline: clamp(var(--spacer-rem-200, 1em), 5vw, var(--spacer-rem-900, 4em));
	--features-grid-gap: var(--spacer-rem-600);
	--footer-block-padding: 8.8rem;
	--footer-nav-grid-gap: var(--spacer-rem-400);
	@include mixins.mq(medium) {
		--section-heading-margin: var(--spacer-em-400);
		--section-block-spacer: 15rem;
		--features-grid-gap: var(--spacer-rem-250);
		--footer-block-padding: 6.4rem;
		--footer-nav-grid-gap: var(--spacer-rem-250);
	}
}
