@use '../../abstracts/mixins' as mxn;

.nav-link {
	font-size: var(--fz-nav-link);
	font-weight: var(--fw-700);
	line-height: 1;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--text-nav-link, var(--clr-neutral-100, white));
	cursor: pointer;
	transition: color 0.35s ease;
	@include mxn.mq(medium) {
		--text-nav-link: var(--clr-neutral-400);

		&:hover,
		&:focus {
			--text-nav-link: var(--clr-neutral-700);
		}
	}
}
