.container {
	--max-width: 111rem;
	--padding-inline: var(--container-padding-inline);
	margin-inline: auto;
	width: min(100% - 2 * var(--padding-inline), var(--max-width));

	&--not-spaced {
		--padding-inline: 0rem;
	}
}
